@import url('./vars.scss');
@import url('./input.scss');
@import url('./button.scss');
@import url('./theme.scss');
@import url('./utils.scss');
@import url('./elements.scss');
@import url('./modal.scss');
@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body,
.page {
  max-width: 100vw;
  min-height: 100vh;
  background: var(--white);
  font-family: 'Chivo Mono', monospace;
  color: var(--black);
  gap: 1rem;
}