:root {
    --black: #000505ff;
    --white-100: #f7f7f7;
    --gray-100: #f7f7f7;
    --gray-200: #c4c4c4;
    --white: #ffffff;
    --red-1000: #b91515;
    --blue-1000: #3448fa;
    --orange-900: #c98c1a;
    --green-1000: #0d9e0d;


    --gray-900: rgb(17, 17, 17);
    --gray-850: #181818;
    --gray-800: #1b1b1b;
    --gray-700: #222222;
    --gray-600: #3d3d3d;
    --gray-300: #999999;


    --b-radius: 1.6rem;
}