.page-tasks {
    position: relative;
    padding: 5rem;
    gap: 2rem;
}

.tasks-header {
    position: sticky;
    padding: 1rem 0;
    width: 100%;
    z-index: 2;
    top: 0;

    .tasks-header__content {
        background-color: var(--gray-100);
        margin: 0 auto;
        width: 50%;
        gap: 1rem;
        border-radius: var(--b-radius);
        flex-wrap: wrap;

        .title {
            color: var(--orange-900);
        }
    }
}

.form-task,
.tasks-list {
    width: 50%;
}

.form-task {
    border-radius: var(--b-radius);
    background: var(--white-100);
}

.tasks-list {
    border-radius: var(--b-radius);
    background: var(--white-100);
    padding: 3rem;
    gap: 1rem;
}

.tasks-row {
    background-color: var(--white);
    border-radius: var(--b-radius);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    width: 100%;
    flex-wrap: wrap;
    gap: 1rem;
}

.task-description {
    text-overflow: ellipsis;
    overflow: hidden;
    // white-space: nowrap;
    font-size: 1.8rem;
    font-weight: 500;
    cursor: pointer;
}

.task-actions {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    margin-left: auto;
}

.without-list {
    background-color: var(--gray-100);
    border-radius: var(--b-radius);
    gap: 1rem;

    span {
        font-size: 1.8rem;
        text-align: center;
    }

    svg {
        width: 10rem;
    }
}


.tasks-ordering {
    flex-wrap: wrap;

    .button {
        padding: .6rem;
        font-size: 1.4rem;

        &.selected {
            color: var(--white);
            background-color: var(--blue-1000);
        }

        &.completed {
            color: var(--white);
            background-color: var(--green-1000);
        }
    }

}