.password-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    gap: 1rem;
}

.password-button:hover {
    transform: scale(1.06);
    transition: .6s;
}