.footer {
    padding: 1rem;
    font-size: 1.2rem;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    z-index: 100;
    margin-top: auto;
    color: var(--white);
    text-align: center;

    background-color: var(--black);
    border-radius: var(--b-radius);

    svg {
        width: 1.6rem;
    }
}